body, html, p {
    background: white;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 14px;
    color: #121212;
    line-height: 1.8;
}

p {
    margin-bottom: 10px;
}

a {
    color: #121212;
    text-decoration: none;
}

p a {
   border-bottom: 1px solid #121212;
}

.logo {
    width: 48px;
    height: 48px;
}

.includable {
    margin-top: 48px;
    color: #929496;
    text-decoration: none;
    display: block;
    clear: both;
}

.container {
    padding: 96px 0;
    max-width: 700px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 6px 17px;
    margin-right: 2px;
    margin-top: 6px;
    background: #121212;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
}

h1, h2 {
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    padding: 54px 0 10px;
    color: #121212;
}

h1 {
    font-size: 20px;
    letter-spacing: 0.3px;
}

h2 {
    font-size: 15px;
}

.tool {
    display: block;
    padding: 12px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    line-height: 1.4;
    color: #666;
}

.tool b {
    display: block;
    font-weight: 600;
    color: #333;
}

@media (max-width: 750px) {
    .container {
        padding: 32px;
    }
    h1 {
        padding-top: 24px;
    }
}
